<!-- This is simply a navbar template. This  is also in the navbar-init.js-->
<div class="top_navbar">
<div id="nav-icon">   
    <img src="/images/web-logo-white.png" style="max-width:100%; max-height:100%;" />
</div>

<a href="/" class="active">Home</a>
<div id="search-bar">
    <input type="text" id="search" placeholder="Find" size="50">
    <button type="button" id="nav-search">Search</button>
</div>

<div id="top-profile">
    <a href="/u/"{{username}}>Profile</a>
</div>
</div>