<html>

<head>
    <title>InFeed</title>
    <link rel="stylesheet" href="/styles/text-editor.css">
    
    {{>essentials}}

    <script src="/scripts/post-click.js"></script>

</head>
<body>
        
    {{>nav}}
    <!-- Where the rest of the page is: -->
    <div id="main-page">
        <div style="height:50px"></div>
        <div id="main-editor">
            <div id="main-feed">
                <div style="height:50px"></div>
                <p id="editor-line">Join the InFeed Community today!</p>
                <h1>Create a post</h1>
                <div id="editor-wrapper">
                    <h3 class="titles">Title</h3> 
                    <textarea id="headline"></textarea>
                    <h4 class="titles">Body</h4>
                    <textarea id="editor"></textarea>
                    <div id="editor-options"><button id="submit">Submit</button></div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>