<html>

<head>
    <title>InFeed</title>
    <link rel="stylesheet" href="/styles/signup.css">

    {{>essentials}}
    <!--<script src="scripts/user_reg.js"></script>-->
    <script type="text/javascript" src="scripts/index.js"></script>
</head>
<body>
        
    {{>nav}}
    <!-- Where the rest of the page is: -->
    <div id="main-page">
        <div style="height:50px"></div>
        <div class="main-wrapper">
            
            <div id="log">
                <div id="log-header">

                    <img src="/images/web-icon.png">
                    <span id="headline">Welcome to InFeed!</span>
                </div>

                <form>
                    <div id="log-form">
                        
                        <input type="text" placeholder="Username" id="form-user-log">
                        <input type="password" placeholder="Password" id="form-pass-log">

                        <button id="login">Log In</button>
                        <a href="user_reg" id="newsignup">Sign up</a>
                    </div>
                </form>
                
            </div>
        </div>
    </div>
</body>
</html>