<html>

<head>
    <title>InFeed</title>
    <link rel="stylesheet" href="/styles/signup.css">

    {{>essentials}}

    
</head>
<body>
        
    {{>nav}}
    <!-- Where the rest of the page is: -->
    <div id="main-page">
        <div style="height:50px"></div>
        <div class="main-wrapper">
            
            <div id="log">
                <div id="log-header">

                    <img src="/images/web-icon.png">
                    <span id="headline">Welcome to InFeed!</span>
                </div>

                <form>
                    <div id="log-form">
                        
                        <input type="text" placeholder="Username" id="form-user">
                        <input type="password" placeholder="Password" id="form-pass">
                        <input type="password" placeholder="Confirm Password" id="form-pass-confirm">

                        <button type="button" id="sign_up">Sign Up</button>
                    </div>
                    <div id="warning">
                        <p id="message"></p>
                    </div>
                </form>
                
            </div>
        </div>
    </div>
    <script type="text/javascript" src="/scripts/user-reg.js"></script>
</body>
</html>