<div class="kebab">
    <div class="dd-a"><span>:</span></div>
    <input type="checkbox">
    <div class="dd-c">
        <ul>
            <li><button><span>Edit</span></button></li>
            <li><button><span>Delete</span></button></li>
        </ul>
    </div>
</div>