<div id="reply">
    <img src="{{profile-picture}}" id="Comment-Picture">
    <div id="comment-text">
        <a href="{{user-page}}"><span id="commentor-name">{{username}}</span></a><br>
        {{text}}   
    </div>
</div>