body {
    margin: 0;
    min-height: 400px;
    background-color: #111213;
}

#main-page {
    margin: auto;
    padding:40px;
    height: 100%;
    width: 100%;
    max-width: 600px;
    background-color:#163d51;
    font-family: Roboto;
    color:black;
}

.main-wrapper {
    display:flex;
    min-height: 500px;
}

#headline {
    margin-bottom: 20px;
    font-size: 40px;
    font-weight: bold;
}

#log {
    margin: 0 auto;
    background-color: rgb(241, 241, 241);
    height: 100%;

    min-height: 400px;
    padding: 30px;

    box-shadow: 0px 4px 47px -3px rgba(0,0,0,0.75);
}

#log-header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#log-header img {
    max-width: 100px;
    height: 100%;
    border: 1px solid rgb(172, 172, 172);
    border-radius: 4px;
}

/* Log-Form Inputs*/

#log-form {
    display: flex;
    flex-direction: column;
    width: 400px;
    min-width: 200px;
}

#log-form input{
    width: 100%;
    padding: 15px;
    margin: 5px 0 10px 0;
    display: inline-block;
    border-style: none;
    outline: none;
    border-bottom: 1px solid black;
    background: #f1f1f1;
}

#log-form input:focus {
    background-color: #ddd;
    outline: none;
}

/* Log-Form Buttons */

#log-form div {
    margin-top: 6px;
    display: flex;
    gap: 10px;
}

#log-form button {
    margin-top: 10px;
    background-color: #fb8500;
    color: white;

    padding: 14px 20px;

    border: none;
    cursor: pointer;

    width: 100%;
    opacity: 0.9;

    font-size: 18px;
    font-weight: 700;
}
  
#log-form button:hover {
    opacity:1;
}

#log-form a {
    margin-top: 6px;
    text-decoration: none;
    color: #fb8500;
    font-weight: bold;
}