/*
    This file is the CSS of the page of a post. This is viewed
    upon clicking a post on the feed  to show  the full post
    content.
*/
body {
    margin: 0;
    background-color: #111213;
}

#main-page {
    margin: auto;
    padding:20px;
    height: auto;
    width: 100%;
    max-width: 1000px;
    background-color:#031f2e;
    font-family: 'Segoe UI';
    color:white;
}

#post-wrapper {
    display: flex;
    gap: 25px;
}

#post {
    width:100%;
}

#full-post {
    display: flex;
}

.post-content-wrapper {
    display:flex;
    flex-direction: column;
    background-color: #163d51;
    height: auto;
    width: 100%;
    
    padding: 15px;
    /* border: 1px solid rgb(172, 172, 172);
    border-radius: 4px; */

}

#rate {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding-top: 10px;
    min-width: 30px;
    max-width: 40px;
    width:100%;
    background-color: #0e2c3b;
    height: auto;
}

#rate div {
    font-size: 12px;
}


.post-content-wrapper .header {
    font-size:22px;
    font-weight: 700;
}

.post-dets {
    font-family: 'Segoe UI';
    font-size: 12px;
    font-weight: 300;
    color: rgb(183, 183, 183);
    margin: 10px 0;

    max-height: 18.4px;
}

.post-dets img {
    max-height: 100%;
    vertical-align: middle;
    object-fit: cover;
}

.post-dets .author{
    font-size: 12px;
    font-weight: 300;
    color: rgb(183, 183, 183);
}

.post-dets .author:hover{ text-decoration: underline;}

.post-content-wrapper .body {
    font-family: Rubik;
    font-style: normal;
    font-size: 15px;
    line-height: 24px;
    text-align: justify;
    min-height: 150px;
}

#interactions {
    display:flex;
    height: auto;

    /* background-color:#0e2c3b; */
    bottom: 0px;
    width: auto;
}

.ui-icon {
    max-height: 20px;
    max-width: 20px;
}

.ui-button {
    background: none;
    text-decoration: none;
    border: none;
    cursor: pointer;

}


a {
    text-decoration: none;
}

/* Author CSS */
#author-wrapper {
    background-color: #163d51;
    padding: 10px;
    width: 100%;
    min-width: 100px;
    max-width: 300px;
    max-height: 300px;

    border: 1px solid rgb(172, 172, 172);
    border-radius: 4px;

}

#author-header {
    display: flex;
    justify-content: flex-start;
}

.author-dets {
    width: 100%;
    margin-left: 10px;
}

#author-name {
    margin-bottom: 5px;
    font-weight: 700;
    color: #FB8500;
}

#author-id {
    font-weight: 300;
    font-size: 12px;
    color: #864f10;
}

.author-dets button {
    background-color: #FFB703;
    border: none;
    border-radius: 5px;
}

.author-dets button:hover {
    color: white;
    background-color: #d29e1c;
}

#author-header img {
    margin: auto;
    max-height: 100px;
    width: auto;
    height: 100%;
}

/* Comment Section */
#comment-section {
    margin-top: 15px;
    height: auto;
    background-color: #163d51;
    font-family: Rubik;
    font-size: 14px;
    padding-right: 10px;
}

#section{
    color: white;
    display: block;
    text-align: center;
    background-color: black;
}

#comment-picture{
    height: 40;
    width: 40;
    object-fit: cover;
}

#comment-post {
    height: auto;
    width: 100%;
    background-color: #163d51;
    padding-top: 20px;
    padding-bottom: 20px;
}

#commentor-name{
    margin-top: 0;
    color: lightgoldenrodyellow;
}

#comment-segment{
    margin-left: 15;
    margin-bottom: 25;
}

#comment{
    display: flex;
    margin-left: 10;
    margin-bottom: 5;
    height: auto;
}

#reply{
    display: flex;
    margin-left: 20;
    margin-top: 10;
}

#comment-text{
    display: inline-block;
    width: 100%;
    margin-left: 10;
}