/*
    This file is the CSS of the page of a post. This is viewed
    upon clicking a post on the feed  to show  the full post
    content.
*/
body {
    margin: 0;
}

#main-page {
    margin: auto;
    padding:20px;
    height: auto;
    width: 100%;
    max-width: 900px;
    background-color:#031f2e;
    font-family: Roboto;
    color:white;
}

#post-wrapper {
    display: flex;
    gap: 50px;
}

.full-post {
    padding: 10px;
    background-color: #163d51;
    height: auto;
    width: 100%;
    min-width: 100px;
    max-width: 800px;
}

.full-post .header {
    font-size:25px;
    font-weight: 700;
}

.full-post .author {
    font-size: 14px;
    font-style: italic;
    font-weight: 300;
    color: rgb(183, 183, 183);
}

.full-post .body {
    font-style: normal;
    font-size: 16px;
    margin: 20px 0;
    line-height: 25px;
    text-align: justify;
    min-height: 50px;
}

a {
    text-decoration: none;
}

/* Author CSS */
#author-wrapper {
    background-color: #163d51;
    padding: 10px;
    width: 100%;
    min-width: 100px;
    max-width: 300px;
    max-height:400px;
}

#author-header {
    display: flex;
    justify-content: flex-start;
}

.author-dets {
    width: 100%;
    margin-left: 10px;
}

#author-name {
    margin-bottom: 5px;
    font-weight: 700;
    color: #FB8500;
}

#author-id {
    font-weight: 300;
    font-size: 12px;
    color: #864f10;
}

.author-dets button {
    background-color: #FFB703;
    border: none;
    border-radius: 5px;
}

.author-dets button:hover {
    color: white;
    background-color: #d29e1c;
}

#author-header img {
    margin: auto;
    max-height: 100px;
    width: auto;
    height: 100%;
}

/* Comment Section */
#comment-section {
    margin-top: 15px;
    height: auto;
    background-color: #163d51;
}

#section{
    color: white;
    display: block;
    text-align: center;
    background-color: black;
}

#comment-picture{
    height: 40;
    width: 40;
    object-fit: cover;
}

#comment-post {
    height: auto;
    width: 100%;
    background-color: #163d51;
    padding-top: 20px;
    padding-bottom: 20px;
}

#commentor-name{
    margin-top: 0;
    color: lightgoldenrodyellow;
}

#comment-segment{
    margin-left: 15;
    margin-bottom: 40;
}

#comment{
    display: flex;
    margin-left: 10;
    margin-bottom: 5;
    height: auto;
}

#reply{
    display: flex;
    margin-left: 20;
    margin-top: 10;
}

#comment-text{
    display: inline-block;
    width: 100%;
    margin-left: 10;
}