.top_navbar {
    background-color: rgb(42, 57, 80);
    overflow:hidden;
    /* This fixes the navbar to the top of screen */
    position: fixed;
    top: 0;

    height: auto;
    width: 100%;
    z-index: 1;
}

.top_navbar a {
    float: left;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.top_navbar a:hover {
    background-color:rgb(255, 150, 120);
    color:rgb(151, 64, 99);
}

.top_navbar a.active {
    background-color: rgb(65, 67, 106);
    color: rgb(245, 71, 104);
}

.top_profile {
    float:right;
}